extends base

//- block content
//-   .c
//-     .correct.hidden
//-       .correct-message you buy it 
//-   .div-cours
//-     - const coursesTitle = courses.length > 0? 'Ø§Ù„ÙƒÙˆØ±Ø³Ø§Øª' : 'Ù„Ù… ÙŠØªÙ… Ù†Ø´Ø± Ø§ÙŠ ÙƒÙˆØ±Ø³Ø§Øª Ø¨Ø¹Ø¯'
//-     p.cours= coursesTitle
//-   .courses
//-     - if(courses)
//-       each c , i in courses
//-           a.first-cours.course-view(data-courseid= `${c._id}`, href=`/courses/${c._id}/subcourses`)
//-             - if(user?.role === 'admin')
//-               i.bi-trash(data-deletecount= 0) &#128465;
//-               svg.bi-edit(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
//-                 path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
//-                 path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z')
//-             img.first-cours-img(src=`/imgs/courses/${c.photoUrl}`, alt=`course card`)
//-             .class-info 
//-               .asab= c.title
//-               - if(user)
//-                 - if(!user.subcourses.some(sc => subcourses[i].includes(sc.toString())))
//-                   .price-container
//-                     .price= c.price
//-                     buttton.buy Ø´Ø±Ø§Ø¡ Ø§Ù„ÙƒÙˆØ±Ø³
//-               - if(!user)
//-                 .price-container
//-                   .price= c.price
//-               .about-cours= c.description
            
//-   - if(user?.role === 'admin')
//-     button.upload-btn +
  
block content 
  section.courses#classes-section
    .cards.classes
      // ÙƒØ§Ø±Øª  Ø§Ø¨Ùˆ ÙˆØ§Ø¦Ù„ Ù…Ø·ÙˆØ± ÙˆÙŠØ¨
      each c , i in courses
        .card.green(data-courseid=`${c._id}`, href=`/courses/${c._id}/subcourses`)
          - if(user?.role === 'admin')
            <i class="bi-trash" data-deletecount="0">&#128465;</i>
            svg.bi-edit(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
              path(d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z")
              path(fill-rule="evenodd", d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z")
          .card-header
            p= c.title 
            //- span.progress 84% ðŸŒ™
          p.duration â° Ø§Ø¶Ø¨Ø· Ø³Ø§Ø¹ØªÙƒ Ùˆ Ø¬Ù‡Ø² Ù…Ø´Ø±ÙˆØ¨Ùƒ Ø§Ù„Ù…ÙØ¶Ù„ Ùˆ Ø§Ø¨Ø¯Ø£ Ù…Ø¹ Ø§Ù„Ø³ÙƒØ±
          p Ù…Ø´ Ø¶Ø±ÙˆØ±ÙŠ ØªÙƒÙˆÙ† Ø¹Ø¨Ù‚Ø±ÙŠ Ø­ØªÙ‰ ØªÙ…Ø´ÙŠ Ù…Ø¹ Ø§Ù„Ø¯ÙƒØªÙˆØ± Ø¥ÙŠØ§Ø¯...Ø§Ù„Ù…Ù‡Ù… Ø§ØµØ±Ø§Ø±Ùƒ... Ù‡Ù†Ø§ ØªÙÙ‡Ù… Ø§Ù„Ø¹Ù„ÙˆÙ…
          .tags
            span Ø´Ø±Ø­ 
            span Ø­Ù„ 
            span Ø§Ø®ØªØ¨Ø§Ø±Ø§Øª
            span Ù…ØªØ§Ø¨Ø¹Ø© Ø¯ÙˆØ±ÙŠØ©
            span ØªÙ‚ÙŠÙŠÙ… Ù…Ø³ØªÙˆÙ‰
          - if((user && !user.subcourses.some(sc => subcourses[i].includes(sc.toString()))) || !user)
            p.salary= `ðŸ’° Ø§Ù„Ø³Ø¹Ø± : ${c.price} ATP`
block scripts
  script(src='/js/courses.js')